# vscode
.vscode/

# python
*.pyc
__pycache__/
venv/

# Docker
Dockerfile
docker-compose.yml

# xineted
pwn.xinetd

# Generate information
secret.json

# working content
bin/*
libc/*
_tmp*
secret.json

!.gitkeep